*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{
    display: none;
}

.container{
    max-width: 1152px;
    margin: auto;
}

body{
    margin: auto;
    font-family: $montserrat;
    color: #333333;
}

.fill-button{
    font-size: 1rem;
    font-weight: 700;                    
    color: #FFFFFF;
    border: 1px solid $secondaryColor;
    border-radius: 37px;
    padding: 15px 36px 15px 36px;
    background-color: $secondaryColor;

}    

.align-center{
    text-align: center;
}

h3{
    font-family: $montserrat;
    font-size: 40px;
    font-weight: 700;
    color: #333333;
    line-height: 120%;

    
    span{
        background: linear-gradient(90deg, #4D7DFF 46.23%, #3DE7BC 98.31%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;        
    }
}


h5{
    font-size: 18px;
}

.m-t1{
    margin-top: 1rem;
}

.m-t2{
    margin-top: 2rem;
}

.m-t3{
    margin-top: 3rem;
}

.m-t4{
    margin-top: 4rem;
}

.m-b1{
    margin-bottom: 1rem;
}

.m-b2{
    margin-bottom: 2rem;
}

.m-b3{
    margin-bottom: 3rem;
}

.m-b4{
    margin-bottom: 4rem;
}

.m-l1{
    margin-left: 1rem;
}

.m-r1{
    margin-right: 1rem;
}

.p-r2{
    padding-right: 2rem;
}

.p-l2{
    padding-left: 2rem;
}

.row-reverse{
    flex-direction: row-reverse;
}

.text-right{
    text-align: right;
}

.align-flex-end{
    align-items: flex-start;
}

.align-flex-end{
    align-items: flex-end;
}

.row{
    margin-left: 1rem;
    margin-right: 1rem;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.row-cols-lg-3 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }


  .col-3{
    width: 33.3333333333%;
  }

  .flexible {
    flex-grow: 1;
}


.full-height{
    height: 100%;
}



.margin-y{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#loader-container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

#loader-container .circle {
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
    border: 5px solid #ddd;
    border-bottom-color: #333;
    border-radius: 50%;
    height: 40px;
    left: 50%;
    margin-left: -22.5px;
    margin-top: -22.5px;
    top: 50%;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    width: 40px;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

